.left {
    margin-top: 75px;
    position: fixed;
}

.right {
    margin-left: 40%;
    margin-bottom: 50px;
}

h1 {
    font-size: 52px;
    font-weight: 700;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    width: 80%;
}

.navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(225, 225, 225, 0.9);
    padding: 15px 0;
    z-index: 999;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.hidden-link {
    font-weight: 500 !important;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: flex-start;
}

.nav-link {
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    margin: 0 1%;
}

nav a {
    display: inline-block;
}

.link {
    margin: 5px 0;
    color: rgb(50, 50, 50);
    transition: text-shadow 0.3s ease-in-out;
}

.link:hover {
    color: black;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    transition: text-shadow 0.3s ease-in-out;
}

.external-link {
    color: black;
    text-decoration: none;
}

.nav-link,
.external-link {
    color: rgb(50, 50, 50);
}

.nav-link:hover,
.external-link:hover {
    color: black;
}

.nav-link:focus,
.external-link:focus {
    color: black;
}

.icon-container {
    display: flex;
}

.icons {
    margin-right: 25px;
}

.icon {
    height: 40px;
    width: 40px;
}

.icon-small-container {
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.icon-small {
    height: 16px;
    width: 16px;
    z-index: -1;
}

.about,
.work-history,
.education,
.certifications,
.projects {
    padding-top: 75px;
}

.about {
    padding-left: 10px;
    padding-right: 10px;
}

.hidden-title {
    display: none;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}

.section {
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.section-active {
    transition: margin 0.3s ease-in-out, border 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.section-active:hover {
    border: 1px solid rgb(200, 200, 200);
    background-color: rgba(200, 200, 200, 0.2);
    margin-top: -2px;
    margin-bottom: 27px;
    box-shadow: 2px 5px 5px rgba(175, 175, 175, 0.1);
    transition: margin 0.3s ease-in-out, border 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.section-button {
    padding-bottom: 0px;
}

.section-five {
    padding-bottom: 5px;
}

.about-text {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
}

.title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
}

.date {
    font-size: 12px;
    margin-bottom: 5px;
}

.diploma {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.text {
    font-size: 14px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 2px;
    color: #323232;
}

p:hover {
    color: black;
}

.btn {
    background-color: white !important;
    color: black !important;
    border: 1px solid white !important;
    opacity: 1 !important;
    border-radius: 20px;
    padding: 4px 15px !important;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
}

.btn:hover {
    box-shadow: none !important;
}

.space {
    height: 75px;
}

.message {
    font-size: 26px;
    margin-top: 15px;
}

.contact {
    display: none;
}

#shadow {
    text-shadow: none;
    animation: mymove 3s infinite;
}

@keyframes mymove {
    50% {
        text-shadow: 0px 0px 25px rgba(50, 50, 50, 0.5);
    }
}

span {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


@media only screen and (max-width: 992px) {
    .navbar {
        display: flex;
    }

    .hidden-title {
        display: block;
    }

    .left {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }

    .nav {
        display: none;
    }

    h1 {
        text-align: center;
    }

    .message {
        text-align: center;
    }

    .icons {
        display: none;
    }

    .right {
        margin-left: 0px;
    }

    .about,
    .work-history,
    .education,
    .certifications,
    .projects,
    .contact {
        padding-top: 75px;
    }

    .space {
        height: 25px;
    }

    .contact {
        display: block;
        text-align: center;
    }

    .icon-container-hidden {
        display: flex;
        justify-content: center;
    }

    .icons-hidden {
        margin: 10px 1rem;
    }

    .icon-hidden {
        height: 35px;
        width: 35px;
    }
}
